<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <style>
        .alignleft {
            float: left;
            text-align: left;
            width: 33.33333%;
        }

        .aligncenter {
            float: left;
            text-align: center;
            width: 33.33333%;
        }

        .alignright {
            float: left;
            text-align: right;
            width: 33.33333%;
        }
    </style>
  
</head>

<body>

    <button id="button" style="display:none;">  </button>
    <div class="container">

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-xs-6 col-md-4"> <a href="/Home/Index" id="btn-back"> < Contacts </a>   </div>
                    <div class="col-sm-8 text-right"><label class="star" id="btn-1" onclick="hiddenButton()">&#9733;</label> </div>
                    <script>
                        var btn_1 = document.getElementById('btn-1');


                        function hiddenButton() {
                            btn_1.style.display = 'none';

                        }
                    </script>
                </div>
            </div>
            <center>
                <div id="img" class="card-body">

                </div>
            </center>
            <div id="res" class="card-body">

            </div>

            <script type="text/javascript">
                document.querySelector('#button').addEventListener('click', traerDatos());

                function traerDatos() {
                    const xhttp = new XMLHttpRequest();
                    xhttp.open('GET', 'https://s3.amazonaws.com/technical-challenge/v3/contacts.json', true);
                    xhttp.send();
                    xhttp.onreadystatechange = function () {

                        if (this.readyState == 4 && this.status == 200) {

                            let datos = JSON.parse(this.responseText);	

                            let img = document.querySelector('#img');
                            let person = datos.filter(d => d.id == @ViewBag.id);
                            res.innerHTML = '';

                            for (let item of person) {
                                res.innerHTML += `
                <h5 class="card-text text-center"><strong> ${item.name}</strong> </h5>
                <h6 class="card-text text-center"> ${item.companyName} </h6> <hr>
                PHONE:
                <div id="textbox">
                <h6 class="alignleft"><strong>${item.phone.home}</strong></strong></h6><h6 class="aligncenter"></h6><h6 class="alignright">Home</h6>
                </div>
<hr><hr>
                PHONE:
                 <div id="textbox">
                <h6 class="alignleft"><strong>${item.phone.mobile}</strong></strong></h6><h6 class="aligncenter"></h6><h6 class="alignright">Mobile</h6>
                </div>
<hr><hr>
                PHONE:
                <div id="textbox">
                <h6 class="alignleft"><strong>${item.phone.work}</strong></h6><h6 class="aligncenter"></h6><h6 class="alignright">Work</h6>
                </div>
<hr><hr>

                <h6>ADDRESS:</h6> <h6 class="card-text text-left"> <strong> ${item.address.street}</strong> </h6><hr>
               <h6>BIRTHDATE:</h6> <h6 class="card-text text-left"> <strong> ${item.birthdate}</strong> </h6><hr>
               EMAIL: <h6 class="card-text text-left"> <strong> ${item.emailAddress}</strong> </h6><hr>


						`
                            }
                            for (let item of person) {
                                let res = document.querySelector('#res');
                                img.innerHTML = '';
                                img.innerHTML += `
               <img class="img-user" src = "${item.largeImageURL}" alt = "" />

						`   }

                        }
                    }
                }
            </script>

        </div><!-- card -->

    </div><!-- container -->


</body>
</html>
