

<html>
<head>

    <meta charset="utf-8">
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>

<body>
    <button id="button" style="display:none;">  </button>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Contacts
            </div>
            <div class="subtitle">
                FAVORITE CONTACTS
            </div>

            <ul id="res" class="list-group list-group-flush"></ul>

            <div class="subtitle">
                OTHER CONTACTS
            </div>
            <ul id="resno" class="list-group list-group-flush"></ul>
        </div><!-- card -->
    </div><!-- container -->
    <script src="~/Scripts/contacts.js"></script>

</body>
</html>